<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REPARTIDORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" (click)="irACrearRepartidor()">Crear Repartidor</ion-button>
  <ion-button expand="full" (click)="perfilRepartidor()">Perfil Repartidor</ion-button>
  <ion-button expand="full" (click)="Atras2()">HOME</ion-button>




  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">repartidores</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
