<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PAQUETES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-button expand="full" (click)="ingresarPaquete()">INGRESAR PAQUETE</ion-button>
  <ion-button expand="full" (click)="detallePaquete()">DETALLE PAQUETE</ion-button>
  <ion-button expand="full" (click)="Atras3()">HOME</ion-button>











  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crear-paquetes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
